$font-size: 50px;
.deneme {
  font-size: $font-size;
}
.navbarItems {
  height: 80px;
  display: flex;
  //justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: #fff;
}
.navbarLogo {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  font-size: 25px;
  align-items: center;
  width: 140px;
  cursor: pointer;
  img {
    margin-right: 0.5rem;
    font-size: 0.5rem;
  }
}
.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
  align-items: center;
  li {
    margin: 0 50px;
    a {
      display: block;
      float: left;
      height: 100%;
      color: #777a7c;
      text-decoration: none;
      line-height: 80px;
      padding: 0 25px 0 25px;
      font-size: 20;
      outline: 0;
      font-weight: 500;
    }
    a:hover {
      color: #3a3a3c;
    }
  }
}

.menuIcon {
  display: none;
  img {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 960px) {
  .navMenu {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    display: none;
    &.active {
      background: url("/minerva-header.svg") no-repeat;
      opacity: 1;
      z-index: 1;
      background-color: white;
      background-size: contain;
      display: flex;
    }
    li {
      text-align: center;
      width: 100%;
      display: table;
      a {
        font-size: 32px;
        font-family: "Source Serif Pro", serif;
        color: #3a3a3c;
        line-height: 38px;
        margin-bottom: 30px;
        font-weight: 700;
      }
    }
  }
  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #e1e1e1;
    padding: 13px;
  }
}
