.deneme {
  font-size: 50px; }

.navbarItems {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: #fff; }

.navbarLogo {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 20px;
  font-size: 25px;
  align-items: center;
  width: 140px;
  cursor: pointer; }
  .navbarLogo img {
    margin-right: 0.5rem;
    font-size: 0.5rem; }

.navMenu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-right: 2rem;
  align-items: center; }
  .navMenu li {
    margin: 0 50px; }
    .navMenu li a {
      display: block;
      float: left;
      height: 100%;
      color: #777a7c;
      text-decoration: none;
      line-height: 80px;
      padding: 0 25px 0 25px;
      font-size: 20;
      outline: 0;
      font-weight: 500; }
    .navMenu li a:hover {
      color: #3a3a3c; }

.menuIcon {
  display: none; }
  .menuIcon img {
    width: 40px;
    height: 40px; }

@media screen and (max-width: 960px) {
  .navMenu {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    position: absolute;
    top: 80px;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 0;
    margin: 0;
    display: none; }
    .navMenu.active {
      background: url("/minerva-header.svg") no-repeat;
      opacity: 1;
      z-index: 1;
      background-color: white;
      background-size: contain;
      display: flex; }
    .navMenu li {
      text-align: center;
      width: 100%;
      display: table; }
      .navMenu li a {
        font-size: 32px;
        font-family: "Source Serif Pro", serif;
        color: #3a3a3c;
        line-height: 38px;
        margin-bottom: 30px;
        font-weight: 700; }
  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #e1e1e1;
    padding: 13px; } }

.layout {
  float: left;
  height: 100vh;
  width: 100%;
  position: relative; }

.content {
  display: flex;
  flex-direction: column;
  margin: 0;
  top: 0;
  padding: 0;
  margin-top: 110px;
  width: 100%;
  height: 100%; }

@media screen and (max-width: 960px) {
  .content {
    height: auto; }
  .layout {
    padding-top: 190px; } }

body {
  margin: 0px; }

.subBlock {
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: relative;
  display: inline-block;
  max-width: 1040px;
  padding: 50px 0px;
  background: url("/minerva-header.svg") center right no-repeat;
  height: 430px; }

.headerLeft {
  float: left;
  width: 60%;
  margin-right: 40%; }
  .headerLeft h3 {
    color: #698c95; }
  .headerLeft h1 {
    font-family: "Source Serif Pro", serif;
    font-size: 60px;
    color: #3a3a3c;
    line-height: 68px;
    font-weight: 700; }
  .headerLeft p {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    color: #777a7c;
    line-height: 32px;
    margin-bottom: 30px; }

@media screen and (max-width: 960px) {
  .subBlock {
    background-size: 250px;
    left: 50%;
    top: 42%;
    padding: 0px 40px;
    background: none; }
    .subBlock .headerLeft {
      float: left;
      width: 100%;
      margin-right: 0; }
      .subBlock .headerLeft h1 {
        font-size: 32px;
        line-height: 36px; }
      .subBlock .headerLeft h3 {
        font-size: 18px;
        line-height: 28px; } }

.darkBlock {
  float: left;
  background: #3a3a3c;
  padding: 230px 0 120px 0;
  width: 100%; }
  .darkBlock .headerImage {
    background: url("/header-image.jpg") center right no-repeat;
    background-size: cover; }

.headerImage {
  position: absolute;
  top: calc(100% - 200px);
  width: calc(100% - 100px);
  height: 340px;
  bottom: 0;
  left: 100px; }

.headerContact {
  background: #698c95;
  height: 200px;
  float: right;
  height: 80px;
  bottom: 120px;
  padding: 40px 0;
  width: 400px;
  top: calc(100% - 420px); }
  .headerContact li {
    padding: 0px 10px 0 30px;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    float: left;
    width: fit-content;
    max-width: -webkit-fill-available;
    line-height: 30px;
    padding: 5px 70px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    font-size: 17px; }
    .headerContact li span {
      font-weight: 500;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 10px; }
    .headerContact li a {
      font-weight: 600;
      color: #fff;
      line-height: 20px;
      padding: 10px 10px;
      text-decoration: none; }

.shapes {
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%; }
  .shapes p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 16px;
    /* color: #777A7C; */
    line-height: 32px;
    margin: 30px; }
  .shapes h3 {
    color: #fff; }

@media screen and (max-width: 1300px), screen and (min-width: 960px) {
  .darkBlock {
    float: left;
    background: #3a3a3c;
    width: 100%; }
  .headerImage {
    top: calc(100% - 350px);
    width: calc(100% - 80px);
    height: 340px;
    left: 80px; }
  .headerContact {
    height: 80px;
    bottom: 80px;
    width: 360px;
    position: relative;
    top: calc(0% - 320px); }
  .shapes {
    margin-top: 60px; } }

@media screen and (max-width: 960px) {
  .darkBlock {
    position: relative; }
  .headerImage {
    width: 100%;
    height: 160px;
    left: 0;
    top: 0%; }
  .headerContact {
    bottom: 0;
    padding: 30px 0;
    position: absolute;
    width: 100%;
    height: 72px;
    left: 0;
    top: calc(0% + 160px); }
  .shapes {
    flex-direction: column;
    text-align: center;
    margin-top: 80px; } }

.lawyers {
  float: left;
  padding: 120px 0;
  width: 100%;
  position: relative; }
  .lawyers .wrapWide {
    padding: 0 50px;
    max-width: 1180px;
    margin: 0 auto;
    display: flex; }
    .lawyers .wrapWide .lawyerTitle {
      float: left;
      width: 20%;
      margin-right: 15%; }
      .lawyers .wrapWide .lawyerTitle h2 {
        font-family: "Source Serif Pro", serif;
        font-size: 38px;
        color: #3a3a3c;
        line-height: 42px;
        font-weight: 700; }
    .lawyers .wrapWide .lawyerSubTitle {
      float: left;
      width: 65%;
      padding-right: 30px;
      position: relative; }
      .lawyers .wrapWide .lawyerSubTitle p {
        font-family: "IBM Plex Sans", sans-serif;
        font-size: 16px;
        color: #777a7c;
        line-height: 32px;
        margin-bottom: 30px; }

